<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node-docker</title>
</head>

<body>
  <h1>node-docker Test</h1>
  <form method="post" action="/product/add">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="name">Price</label>
    <input type="text" name="price">
    <input type="submit" value="Add">
  </form>
  <h4>Products:</h4>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <%= product.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>